<div class="column">
  <h2>Account Settings</h2>
  <%= form_for(@person, :method => :put) do |f| %>
    <%= f.label :email, "Email: " %>
    <%= f.text_field :email %>

    <%= f.label :start_goal_reminder_hour,  
                "Send a daily <strong>start goal</strong> reminder at:".html_safe %>

    <%= f.select :start_goal_reminder_hour, 
                 (0..23).map { |e| ["#{e}:00", e] }, 
                 :include_blank => true %>

    <%= f.label :finish_goal_reminder_hour,  
                "Send a daily <strong>finish goal</strong> reminder at:".html_safe %>

    <%= f.select :finish_goal_reminder_hour, 
                 (0..23).map { |e| ["#{e}:00", e] },
                 :include_blank => true %>
    <p>
      <%= f.submit("Update preferences", :class => "btn btn-primary") %>
    </p>

    <p>NOTE: All times are in UTC</p>
  <% end %>
</div>

