<div class="column">
  <h2>Account Settings</h2>
  <%= form_for(@person, :method => :put) do |f| %>
    <%= f.label :email, "Email: " %>
    <%= f.text_field :email %>

    <%= f.label :time_zone, "Time Zone:" %>
    <%= f.time_zone_select :time_zone, nil, :default => "UTC" %> 

    <p>
      <%= f.submit("Update preferences", :class => "btn btn-primary") %>
    </p>
  <% end %>
</div>

